.image {
      width: 50%;
      min-height: 400px;
      min-width: 600px;
      max-width: 800px;
}

@media only screen and (max-width:767px) {
      .image {
            width: 80%;
            min-height: 300px;
            min-width: auto;
      }
}

@media only screen and (max-width:575px) {
      .image {
            width: 95%;
            height: auto;
            min-height: 200px;
      }
}