.error404 {
      background-image: url("https://wallpapercave.com/wp/wp10995923.jpg");
      background-color: rgba(255, 255, 255, 0.5);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
}