.form {
      width: 95%;
      max-width: 30rem;
      min-height: 400px;
}

.error_message {
      background-color: rgb(255, 238, 221);
      border: 1px dashed red;
      max-width: 100%;
      display: none;
}

.error_message svg {
      width: 32px;
      height: 32px;
}

.used_error svg {
      width: 16px;
      height: 16px;
}

.used_error {
      display: none;
}

#recovery_email_form {
      display: flex;
}

#recovery_code_form {
      display: none;
}

#recovery_password_form {
      display: none;
}

@media only screen and (max-width:330px) {
      .error_message svg {
            width: 20px;
            height: 20px;
      }

      .error_message p,
      .used_error p {
            font-size: 12px;
      }

      .used_error svg {
            width: 12px;
            height: 12px;
      }
}