RewriteEngine On

## Routing URLs
# URLs for admin
RewriteCond %{REQUEST_URI} !^/(page|config|ajax_service|css|error|javascript|layout|cert|head_element|log|database|session|image|tool|data|vendor|cron)/ [NC]  
RewriteRule ^admin(/.*)*$ /page/admin/$1 [NC,L]   
# URLs for normal customer
RewriteCond %{REQUEST_URI} !^/(page|config|ajax_service|css|error|javascript|layout|cert|head_element|log|database|session|image|tool|data|vendor|cron)/ [NC]
RewriteRule ^(.*)$ /page/customer/$1 [NC,L]   

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f   
RewriteRule ^([^\.]+)$ $1.html [NC,L]     

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Error pages
ErrorDocument 400 /error/400
ErrorDocument 403 /error/403
ErrorDocument 404 /error/404
ErrorDocument 500 /error/500