      .card:hover {
            transform: scale(1.1);
      } 
      .card {
            margin: 1rem;
      }
      .author {
            color: gray;
      }
      .pic {
            height: 28rem;
            width: 100%;
      }
      a{
            text-decoration: none;
            color: black;
      }
      .heading-decord{
            font-weight: bold;
            padding: 20px;
      }
      #Discount_Button.on {
            box-shadow: 0 0 10px #fff; /* White glow */
            background-color: red; /* Faint white background */
            color: #fff; /* White text */
      }
      #Best-Seller_Button.on {
            box-shadow: 0 0 10px #fff; /* White glow */
            background-color: #ffc107; /* Faint white background */
            color: #fff; /* White text */
      }
      .Nav-list{
            margin-top: 0;
            margin-left: 5px;
            list-style: none;
            margin-bottom: 0px;
      }
      .Nav-header{
            margin-bottom: 0;
            list-style: none;
            font-weight: bold;
      }
      .no-padding{
            padding-left: 0rem;
      }
      .hidden1 {
            display: none;
      }
      .hidden {
            display: none;
      }
      .show-more{
            color: #F7941E;
            font-weight: bold;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
            user-select: none;
            padding-left: 1rem;
            margin-top: 10px;
      }
      .search-form{
            padding-left: 1rem;
      }
      .btn-icon {
            background: none;
            border: none;
            padding: 0;
      }

      #modalToggleButton{
                  display: none;
      }
      @media (max-width: 575.98px) { 
            #modalToggleButton{
                  display: block;
                  margin-left: 40%;
            }
      }
      @media (min-width: 767.98px) { .card-body {
            max-height: 205px; /* Adjust this value as needed */
            overflow: auto; /* Add a scrollbar if the content is too long */
            } 
            .card-body::-webkit-scrollbar {
            display: none;
            }
            .to-the-left{
                  margin-left: 40px;
            
            }
      }
      #search-input {
            border: none;
      }
      .glow {
            color:#F7941E;
      }