.text-justify {
    text-align: justify;
}

.img-size {
    max-width: 350px;
}

.customBtn {
    border: 1px solid black;
}

.ammount_input {
    width: 60px;
}

input[type="radio"][name="ratingFilter"]:checked+label,
input[type="radio"][name="bookType"]:checked+label {
    border: 1px solid rgb(255, 72, 0) !important;
    color: rgb(255, 72, 0) !important;
}

.ratingPanel {
    background-color: rgb(255, 246, 240);
}

.ratingFilter {
    width: 75px;
}

@media (max-width: 767px) {
    .img-size {
        max-width: 250px;
    }
}

@media (max-width: 991px) {
    .img-size {
        max-width: 300px;
    }
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: space-around;
    padding: 0 .2em;
    text-align: center;
    width: 5em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
}

.star-rating :checked~label {
    color: #f90;
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: #fc0;
}

.borderBottom {
    border-bottom: 1px dashed #ccc;
}

.ratingImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}