#search_book {
      padding-left: 35px !important;
}

.search_form {
      max-width: 500px;
}

.book_image {
      width: 100%;
      max-width: 125px;
      height: auto;
      min-width: 80px;
}

.group_button {
      max-width: 180px;
}

.pointer:hover {
      cursor: pointer;
}

.truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      /* Number of lines to show before ellipsis */
      -webkit-box-orient: vertical;
}

.dropdown-width {
      width: 350px;
}

.categories,
.authors,
.publishers {
      max-height: 250px;
      overflow-y: auto;
}

.dropdownHover:hover {
      background-color: #adadad;
}

@media only screen and (max-width:500px) {
      .dropdown-width {
            width: 300px;
      }
}

@media only screen and (max-width:320px) {
      .dropdown-width {
            width: 250px;
      }
}