.custom_container {
      width: 80%;
}

.custom_image {
      max-width: 300px;
      height: auto;
}

.search_category {
      padding-left: 35px !important;
}

.check_box {
      width: 200px;
}

#category_list {
      max-height: 250px !important;
}

.button_group {
      position: absolute;
}

@media only screen and (max-width:1199px) {
      .button_group {
            position: unset;
      }
}