.ammount_input {
    width: 70px;
}

.book_image {
    width: 120px;
}


.payment {
    width: 250px;
}

#cartForm {
    width: 98%;
    height: 98%;
}

.item-container {
    max-height: 350px;
}

@media only screen and (max-width: 768px) {
    .payment {
        width: 200px;
    }
}